<ion-view title="Finished">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <div class="spacer" style="width: 300px; height: 40%;"></div>
            <div style="text-align: center;">
                <h1 style="font-size:68px">All Done!</h1>
                <h5>Congragulations {{user.name}}!! You are now ready to use EasyTutor</h5>
            </div>
        <div class="spacer" style="width: 300px; height: 40%;"></div>
        <button class="button button-stable button-block " ui-sref="tabsController.tutors">Finish</button>
    </ion-content>
</ion-view>