<ion-view title="Tutors">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="data.searchText" type="search" placeholder="search">
        </label>
        <ion-list >
            <ion-item
                    ng-repeat="tutor in data.tutors | filter : data.searchText" item="tutor"
                    ng-click="setTutor(tutor)"
            >
                <div class="row">
                    <div class="col-1" style="margin-right: 8px">
                        <i class="icon ion-ios-flask"></i>
                    </div>

                    <div style="width: 100%" class="col-1">
                        <h2>{{tutor.name}}</h2>
                    </div>

                    <div class="col-1" ng-bind-html="getStars(tutor.rating)">
                    </div>

                    <div style="margin-left:8px" class="col-1">
                        <i class="icon ion-chevron-right"></i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>